data/SatElset.xsd

<?xml version ="1.0"?>
<schema xmlns = "http://www.w3.org/1999/XMLSchema"
    targetNamespace = "urn:schemas-gov:SpaceSurveillance"
    elementFormDefault = "qualified"
    xmlns:ss = "urn:schemas-gov:SpaceSurveillance"
    version="1.0">
    <!--Schema for Satellite Orbital Element Set
**************
*** File name:  SatElset.xsd ***
**************
*** As of:  October 6, 2000
**************
      -->
<element name = "SatelliteElementSet">
    <complexType content = "elementOnly">
        <annotation>
            <documentation>
                The standard "2-line" format for element sets used
                within USSPACECOM.  The data describes a satellite's
                orbit using general perturbations theory (SGP or
                SGP4) and Keplerian elements.</documentation>
        </annotation>
        <sequence>
            <element ref = "ss:SatelliteNumber"/>
            <element ref = "ss:InternationalDesignator"/>
            <element ref = "ss:OrbitalElements"/>
        </sequence>
    </complexType>
</element>
<element name = "OrbitalElements">
    <complexType content = "elementOnly">
        <annotation>
            <documentation>
                A selected set of six variables describing the
                orbit.  The classical orbital elements are:
                semi-major axis, eccentricity, inclination,
                longitude of the ascending node, argument of
                periapsis, and mean anomaly at epoch.
            </documentation>
        </annotation>
        <sequence>
            <element ref = "ss:ElementNumber"/>
            <element ref = "ss:Epoch"/>
            <element ref = "ss:NDot"/>
            <element ref = "ss:NDotDot"/>
            <element ref = "ss:BStar"/>
            <element ref = "ss:EphemerisType"/>
            <element ref = "ss:Inclination"/>
            <element ref = "ss:RtAscension"/>
            <element ref = "ss:Eccentricity"/>
            <element ref = "ss:ArgPerigee"/>
            <element ref = "ss:MeanAnomoly"/>
            <element ref = "ss:MeanMotion"/>
            <element ref = "ss:EpochRevolution"/>
        </sequence>
        <attributeGroup ref = "ss:classification"/>
    </complexType>
</element>
<element name = "ElementNumber" type = "positiveInteger">
    <annotation>
        <documentation>A number that is sequentially increased each time
            the orbital elements are updated or transmitted.  Used in
            determining data currency.</documentation>
    </annotation>
</element>
<element name = "Epoch" type="ss:dateTimeType">
    <annotation>
        <documentation>
            An instant of time selected as a point of reference.
            Epoch element includes a Date and Time.
        </documentation>
    </annotation>
</element>
<element name = "NDot" type = "ss:orbitNDotType">
    <annotation>
        <documentation>First derivative of satellite's mean motion with
            respect to time, divided by 2 (Radians/Min**2).  This data
            is used by SGP (Simplified General Perturbations) theory.
        </documentation>
    </annotation>
</element>
<element name = "NDotDot" type = "ss:orbitNDotDotType">
    <annotation>
        <documentation>The second derivative of the satellite's mean motion
            with respect to time, divided by 6 (Radians/Min**3).  This
            data is used by SGP (Simplified General Perturbations)
            theory.
        </documentation>
    </annotation>
</element>
<element name = "BStar" type = "ss:orbitBStarType">
    <annotation>
        <documentation>A measure of the satellite's atmospheric drag used by
            SGP4 (Simplified General Perturbations 4) theory.
            (1/each radii(km))</documentation>
    </annotation>
</element>
<element name = "EphemerisType">
    <simpleType base = "string">
        <enumeration value = "SGP"/>
        <enumeration value = "SGP4"/>
    </simpleType>
    <annotation>
        <documentation>Theory used to calculate elements.  Values may be:
            SGP (Simplified General Perturbations) or
            SGP4 (Simplified General Perturbations 4)
            SGP is an analytic method of generating ephemerides
            for satellites in earth-centered orbits.
        </documentation>
    </annotation>
</element>
<element name = "Inclination">
    <complexType type = "ss:orbitInclinationType" content = "textOnly">
        <annotation>
            <documentation>
                The angle between the prime meridian and the
                satellite's orbit plane and the earth's equatorial
                plane.</documentation>
        </annotation>
        <attribute name="units" use= "fixed" value="degrees" type="string"/>
    </complexType>
</element>
<element name = "RtAscension">
    <complexType type = "ss:orbitRtAscensionType" content = "textOnly">
        <annotation>
            <documentation>Right ascension of the ascending node.  The
                angle between the prime meridian and the satellite's
                ascending node measured counterclockwise in the
                earth's equatorial plane.
            </documentation>
        </annotation>
        <attribute name="units" use="fixed" value="degrees" type="string"/>
    </complexType>
</element>
<element name = "Eccentricity" type = "ss:orbitEccentricityType">
    <annotation>
        <documentation>A quantity describing the shape of the satellite's
            orbit.</documentation>
    </annotation>
</element>
<element name = "ArgPerigee">
    <complexType type = "ss:orbitArgPerigeeType" content = "textOnly">
        <annotation>
            <documentation>
                Argument of Perigee.  The angle, in the plane of the
                satellite's orbit, from the ascending node to
                periapsis measured in the direction of the
                satellite's motion.</documentation>
        </annotation>
        <attribute name="units" use="fixed" value="degrees" type="string"/>
    </complexType>
</element>
<element name = "MeanAnomoly">
    <complexType type = "ss:orbitMeanAnomalyType" content = "textOnly">
        <annotation>
            <documentation>The angle relating the satellite's position
                in the orbit to time, measured from perigee in the
                direction of the satellite's motion.
            </documentation>
        </annotation>
        <attribute name="units" use="fixed" value="degrees" type="string"/>
    </complexType>
</element>
<element name = "MeanMotion">
    <complexType type = "ss:orbitMeanMotionType" content="textOnly">
        <annotation>
            <documentation>The average rate of motion of the satellite
                (revolutions/day).
            </documentation>
        </annotation>
        <attribute name="theoryUsed"
            type="ss:orbitMeanMotionTheoryType"
            use="required">
            <annotation>
                <documentation>Theory for determining Mean Motion
                    is either "Kozai" (used in SGP) or "Brouwer"
                    (used in SGP4).  </documentation>
            </annotation>
        </attribute>
    </complexType>
</element>
<element name = "EpochRevolution" type = "nonNegativeInteger">
    <annotation>
        <documentation>The number of revolutions traveled by the satellite
            while in orbit.  Range of values 0-99999</documentation>
    </annotation>
</element>
<!--
**************
*** Satellite Orbital Element Set Related Type Definitions ***
**************
      -->
<simpleType name = "orbitNDotType" base = "float">
    <annotation>
        <documentation>
            Orbit N Dot must be greater than -1.0 and less than 1.0
        </documentation>
    </annotation>
    <minExclusive value = "-1.0"/>
    <maxExclusive value = "1.0"/>
</simpleType>
<simpleType name = "orbitNDotDotType" base = "float">
    <annotation>
        <documentation>Orbit N Dot Dot must be in the range -0.01 to 0.01
        </documentation>
    </annotation>
    <minInclusive value = "-0.01"/>
    <maxInclusive value = "0.01"/>
</simpleType>
<simpleType name = "orbitBStarType" base = "float">
    <annotation>
        <documentation>Orbit BStar must be in the range -10.0 to 40.0
        </documentation>
    </annotation>
    <minInclusive value = "-10.0"/>
    <maxInclusive value = "40.0"/>
</simpleType>
<simpleType name = "orbitInclinationType" base = "float">
    <annotation>
        <documentation>Orbit inclination must be greater than or equal
            to 0.0 and less than 180.0
        </documentation>
    </annotation>
    <minInclusive value = "0.0"/>
    <maxExclusive value = "180.0"/>
</simpleType>
<simpleType name = "orbitRtAscensionType" base = "float">
    <annotation>
        <documentation>Orbit right ascension must be greater than or equal
            to 0.0 and less than 360.0
        </documentation>
    </annotation>
    <minInclusive value = "0.0"/>
    <maxExclusive value = "360.0"/>
</simpleType>
<simpleType name = "orbitEccentricityType" base = "float">
    <annotation>
        <documentation>Orbit eccentricity must be greater than or equal to
            0.0 and less than 1.0
        </documentation>
    </annotation>
    <minInclusive value = "0.0"/>
    <maxExclusive value = "1.0"/>
</simpleType>
<simpleType name = "orbitArgPerigeeType" base = "float">
    <annotation>
        <documentation>Orbit argument of perigee must be greater than or
            equal to 0.0 and less than 360.0
        </documentation>
    </annotation>
    <minInclusive value = "0.0"/>
    <maxExclusive value = "360.0"/>
</simpleType>
<simpleType name = "orbitMeanAnomalyType" base = "float">
    <annotation>
        <documentation>Orbit mean anomaly must be greater than or equal
            to 0.0 and less than 360.0
        </documentation>
    </annotation>
    <minInclusive value = "0.0"/>
    <maxExclusive value = "360.0"/>
</simpleType>
<simpleType name = "orbitMeanMotionType" base = "float">
    <annotation>
        <documentation>Orbit mean motion must be greater than or equal
            to 0.0 and less than or equal to 48.20
        </documentation>
    </annotation>
    <minInclusive value = "0.0"/>
    <maxInclusive value = "48.20"/>
</simpleType>
<simpleType name = "orbitMeanMotionTheoryType" base = "string">
    <annotation>
        <documentation>Orbit mean motion theory value must be either
            "Kozai" or "Brouwer"
        </documentation>
    </annotation>
    <enumeration value = "Kozai"/>
    <enumeration value = "Brouwer"/>
</simpleType>
<!-- NOTE:  FILE WON'T VALIDATE IF THIS ATTRIBUTE GROUP IS MOVED
TO THE GLOBALS FILE.  IT'S A BUG IN THE VALIDATOR.  -->
<attributeGroup name = "classification">
    <attribute name = "classLevel" type = "ss:classificationLevelType"
        use="required"/>
    <attribute name = "dissemination" type = "ss:disseminationType" 
        use="optional"/>
    <attribute name = "classificationGuide" type = "string"
        use="optional"/>
</attributeGroup>
</schema>
